#  DATA ANALYSIS

analize the large set of data as per user requirements
### REQUIREMENTS FOR LEARNING DATA ANALYSIS
* python
* numpy
* pandas
* data visualization
    * matplotlib
    * seaborn
### what is python
> python is a programming language.python contains oops concepts for developing web applications
### Text Styles:

what is your college name. My college name is **Vignan**

what is your name.My name is *sowjanya*

what is your marks.my marks are ***99***

we are learning `Data Analsis`

### Links:

if you want to know about me lets [google](https://www.google.com) it

### code formate

#### Python functions syntax:

```def function_name(parameters):
   statements
   return
function_name()```

In [1]:
'python variables'

'python variables'

In [2]:
"python variables"
"python programming"

'python programming'

In [3]:
print("python variables")
print("python programming")
print(3-2)

python variables
python programming
1

In [6]:
import keyword
print(keyword.kwlist)
print("length of keywords list is",len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
length of keywords list is 35

In [7]:
a=10
c='ch'
print(type(a))
print(type(c))

<class 'int'>
<class 'str'>

In [12]:
a=10
b=20
c=a+b
print("the sum of a and b is ",c)
print("the sum of ",a ,"and",b,"is",c)
print("the sum of {0} and {1} is {2}".format(a,b,c))

the sum of a and b is  30
the sum of  10 and 20 is 30
the sum of 10 and 20 is 30

In [13]:
a=int(input("enter a value"))
b=int(input("enter b value"))
a+b

enter a value10
enter b value20

30

In [14]:
a=10
b=20
print("address of a is",id(a))
print("address of b is",id(b))

address of a is 140722504897632
address of b is 140722504897952

In [15]:
a=10
b=100
print("address of a is",id(a))
print("address of b is",id(b))

address of a is 140722504897632
address of b is 140722504900512

### conditional statements in python

* if
     * syntax:
     
         if(condition):
              statements
* else
* elif
* nested elif

In [20]:
a=10
b="hi"
if(a>5):
    if(b=='hi'):
        print("yes")
    else:
        print("hello")
    print("true")
else:
    print("false")

yes
true

### looping statements:

* while
  * initiaze
  * condition
  * increment/decrement
* for

In [22]:
#print 1 to 10
i=0
while(i<=10):
    print(i,end=" ")
    i=i+1
print()
print("come out of the loop")

0 1 2 3 4 5 6 7 8 9 10
come out of the loop

In [23]:
# for loop
for var in range(10):
    print(var,end=" ")

0 1 2 3 4 5 6 7 8 9

In [25]:
# for loop
for var in range(10):
    print(var,end=" ")
print()
for var in range(2,10):
    print(var,end=" ")

0 1 2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9

In [27]:
# for loop
for var in range(10):
    print(var,end=" ")
print()
for var in range(2,10):
    print(var,end=" ")

0 1 2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9

In [30]:
# for loop
for var in range(10):
    print(var,end=" ")
print()
for var in range(2,10):
    print(var,end=" ")
print()
for var in range(1,10):
    if(var%2!=0):
        print(var,end=" ")

0 1 2 3 4 5 6 7 8 9
2 3 4 5 6 7 8 9
1 3 5 7 9

### lists

In [33]:
l=[1,2,3,1.4,2.5,"string","hello",2+3j,True]
type(l)

list

In [34]:
l=[1,2,3,1.4,2.5,"string","hello",2+3j,True]
l

[1, 2, 3, 1.4, 2.5, 'string', 'hello', (2+3j), True]

In [35]:
l=[1,2,3,1.4,2.5,"string","hello",2+3j,True]
l[1:4]

[2, 3, 1.4]

In [36]:
l=[1,2,3,1.4,2.5,"string","hello",2+3j,True]
l[1:7:2]

[2, 1.4, 'string']

In [38]:
l=[1,2,3,1.4,2.5,"string","hello",2+3j,True]
print(l[::-1])
print(l[::-2])

[True, (2+3j), 'hello', 'string', 2.5, 1.4, 3, 2, 1]
[True, 'hello', 2.5, 3, 1]

In [44]:
l=[16,12,36,64,25,6,87]
for i in l:
    print(i,end=" ")
print()
for i in range(len(l)):
    print(i,"->",l[i])

16 12 36 64 25 6 87
0 -> 16
1 -> 12
2 -> 36
3 -> 64
4 -> 25
5 -> 6
6 -> 87

In [45]:
# find the classes and methods in a list
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

###  sets:
set is a collection of unorder items.set does not allow the duplicate data

set can be declare as {value1,value2}

In [46]:
s={}
type(s)

dict

In [47]:
s={1,2,43,63,2,5,6,37}
type(s)

set

In [49]:
s={1,2,43,63,2,5,6,37}
print(type(s))
print(s)

<class 'set'>
{1, 2, 5, 6, 37, 43, 63}

In [52]:
s={1,2,3,"string",4.6,3+2j}
s

{(3+2j), 1, 2, 3, 4.6, 'string'}

In [54]:
l=[10,20]
s=set(l)
s

{10, 20}

In [55]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [56]:
for i in s:
    print(i,end=" ")

10 20

### tuple

In [58]:
t=(1,2,3,4,5,32,5.3,"string",3+2j)
print(type(t))
print(t[2])

<class 'tuple'>
3

### dictionary:
dictionary is a combination of key value pairs

In [60]:
d={"name":"rahul",'age':54,'rank':1}
d

{'name': 'rahul', 'age': 54, 'rank': 1}

In [61]:
d.keys()

dict_keys(['name', 'age', 'rank'])

In [62]:
d.values()

dict_values(['rahul', 54, 1])

In [64]:
d.items()

dict_items([('name', 'rahul'), ('age', 54), ('rank', 1)])

In [65]:
for i,j in d.items():
    print(i,"---->",j)

name ----> rahul
age ----> 54
rank ----> 1

In [68]:
s="hello"
s[::-1]

'olleh'

In [69]:
s="hello"
s[::-2]

'olh'

In [70]:
s="hello"
s[-1]+s[1:-1]+s[0]

'oellh'

### Function:

In [71]:
def function():
    print("break time")
function()

break time

In [76]:
def breaktime(a,b):
    print("with in function",a+b)
    return a+b
bt=breaktime(10,20)
print("after",bt)

with in function 30
after 30